<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body>
    <h1>Hello World!</h1>
    <p>
        We are using Node.js <span id="node-version"></span>,
        Chromium <span id="chrome-version"></span>,
        and Electron <span id="electron-version"></span>.
    </p>
    <button id="ping-button">Let's ping!</button>
    <p id="pong-display"></p>
    <a href="../test/test.html"><button>Jump to test page with link</button></a>
    <button id="switch-button">Jump to test page with backend window function</button>
    <script src="./index.js"></script>
</body>
</html>